/** Colors */

$navbarLinkActiveColor: #0078D4;
$logoMainColor: #8fcae3;

/** SpotStateColors */

$spotOccupancyStatusVacancy: #00B62D;
$spotOccupancyStatusBooked: #cccc00;
$spotOccupancyStatusOccupied: red;
$spotOccupancyStatusDefault: #262626;

$textColor: #201F1E;
$textColorLight: #605E5C;
